:root {
  --orange: #ffa600;
  --white: #ffffff;
  --black: #000000;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  background-color: var(--white);
}
/* >>>>>>>>>> "Header" <<<<<<<<<< */

header .top h1 {
  color: var(--black);
  font-size: 6rem;
  text-align: center;
  padding: 2rem 0;
}
header .navbar img {
  visibility: hidden;
}
header .navbar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--orange);
  line-height: 4.5rem;
}
header .navbar li a {
  color: var(--white);
  font-size: 1.5rem;
  padding: 0 1rem;
}

header .navbar a:hover {
  color: var(--black);
  background-color: var(--white);
  border: var(--black) solid 0.1rem;
}

/* >>>>>>>>>> "Home" <<<<<<<<<< */
main .home {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main .box h3 {
  color: var(--black);
  font-size: 2rem;
  text-align: center;
}
main .box {
  width: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--black) solid 0.1rem;
  cursor: pointer;
}
main .imagem img {
  width: 13rem;
  height: 13rem;
}
main .text h4 {
  color: var(--black);
  font-size: 1.1rem;
  text-align: center;
}
main .text p {
  color: var(--orange);
  font-size: 1.2rem;
  text-align: center;
}

/* >>>>>>>>>> "Cabeleleira Martina" <<<<<<<<<< */

/* >>>>>>>>>> "" <<<<<<<<<< */
/* >>>>>>>>>> "" <<<<<<<<<< */
/* >>>>>>>>>> "" <<<<<<<<<< */
/* >>>>>>>>>> "" <<<<<<<<<< */
/* >>>>>>>>>> "" <<<<<<<<<< */
/* >>>>>>>>>> "" <<<<<<<<<< */
/* >>>>>>>>>> "" <<<<<<<<<< */
/* >>>>>>>>>> "" <<<<<<<<<< */
/* >>>>>>>>>> "" <<<<<<<<<< */
/* >>>>>>>>>> "" <<<<<<<<<< */
/* >>>>>>>>>> "" <<<<<<<<<< */
/* >>>>>>>>>> "" <<<<<<<<<< */
/* >>>>>>>>>> "" <<<<<<<<<< */
/* >>>>>>>>>> "" <<<<<<<<<< */
